MONGO_URI = 
# here, 3000 is port no. for the backend
PORT = 3000 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# here,CLIENT_URL is url for the frontend.
CLIENT_URL=http://localhost:3000

JWT_SECRET=ZY9Q004wictjunmziNz0SOTYpTLtTdz98McrAdGw3tw=
JWT_EXPIRE=3d